pkgbase = python-cryptography
	pkgdesc = A package designed to expose cryptographic recipes and primitives to Python developers
	pkgver = 42.0.5
	pkgrel = 2
	url = https://pypi.python.org/pypi/cryptography
	arch = x86_64
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-subtests
	checkdepends = python-iso8601
	checkdepends = python-pretend
	checkdepends = python-hypothesis
	checkdepends = python-pytz
	checkdepends = python-certifi
	makedepends = git
	makedepends = python-setuptools-rust
	makedepends = llvm
	makedepends = clang
	makedepends = lld
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-cffi
	source = git+https://github.com/pyca/cryptography.git#commit=33833f031d9d36234e11d9671be150d53b9e598d
	sha512sums = SKIP

pkgname = python-cryptography
