pkgbase = python-cryptography
	pkgdesc = A package designed to expose cryptographic recipes and primitives to Python developers
	pkgver = 42.0.6
	pkgrel = 1
	url = https://github.com/pyca/cryptography
	arch = x86_64
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-subtests
	checkdepends = python-iso8601
	checkdepends = python-pretend
	checkdepends = python-hypothesis
	checkdepends = python-pytz
	checkdepends = python-certifi
	makedepends = git
	makedepends = python-setuptools-rust
	makedepends = llvm
	makedepends = clang
	makedepends = lld
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-cffi
	source = git+https://github.com/pyca/cryptography.git#tag=42.0.6
	sha512sums = 89b5e3ceffe9d587fc107ff32bce860cd722bf089beec13826f79e3b3799dd4c41d0f074f73c7a43a44b2d58eed6ef0e424d3a8121e2216bd4cf22f737ccb79e

pkgname = python-cryptography
